.top-content{margin: 30px 0;} 

.events{margin-bottom:30px;} 


.left-text, .right-text{ 

padding: 30px 0;
} 

.left-text-header, .right-text-header{font-size:3em; } 

.event-text-hold p{font-size:20px;} 

.left-image,.right-image{border: thick #fff solid;}